@import "common.css";

/* 重置样式 */
input[type="text"],
input[type="password"] {
    width: 100%;
    height: 33px;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #e4e6e5;
}

/* 重置样式结束 */

.container {
    position: relative;
    width: 300px;
    height: 300px;
    padding: 30px 10px 10px 10px;
    box-sizing: border-box;
    color: #9b9b9b;
    background: #edf4ed;
}

.container .switch-menu .menu-item {
    height: 27px;
    width: 50%;
    line-height: 27px;
    text-align: center;
    font-size: 13px;
    cursor: pointer;
}

.container .switch-menu .menu-item.selected {
    color: #333;
    font-weight: 600;
    border-bottom: 1px solid #494949;
}

.container .form p {
    font-size: 12px;
    height: 19px;
    line-height: 19px;
}

.container .form a {
    color: #41ac52;
}

.container .form .form-item {
    margin: 10px 0;
    position: relative;
}

.container .form .form-item .more-padding {
    padding-left: 60px;
}

/* 选择国际区号 */
.container .form .form-item .ab-code {
    position: absolute;
    left: 15px;
    top: 9px;
    font-weight: 600;
    color: #333;
    cursor: pointer;
}

.container .form .form-item .ab-vcode {
    font-size: 13px;
    position: absolute;
    top: 10px;
    right: 15px;
}

.container .form .form-item .area-code {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.5);
    left: 0;
    top: 0;
    z-index: 100;
}

.container .form .form-item .area-code .choose-area {
    position: absolute;
    width: 284px;
    height: 224px;
    background: #fff;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #bbb;
    overflow: hidden;
}

.container .form .form-item .area-code .choose-area h2 {
    height: 42px;
    line-height: 42px;
    font-size: 16px;
    font-weight: 600;
    background: #ebf5eb;
    color: #060;
    box-sizing: border-box;
    padding-left: 10px;
}

.container .form .form-item .area-code .choose-area ul {
    font-size: 14px;
    padding: 15px;
    height: 182px;
    color: #aaa;
    overflow: auto;
    box-sizing: border-box;

}

.container .form .form-item .area-code .choose-area ul .left {
    font-weight: 700;
    color: #494949;
}

.container .form .form-item .area-code .choose-area ul li {
    height: 36px;
    line-height: 36px;
    cursor: pointer;
    border-top: 1px solid #e5e5e5;
}

.container .form .form-item .area-code .choose-area ul li:last-child {
    border-bottom: 1px solid #e5e5e5;
}

.container .form .form-item .area-code .choose-area ul li.selected {
    color: #42bd56;
}

.container .form .form-item .area-code .choose-area ul li.selected .left {
    color: inherit;
}

.container .form .form-item .area-code .choose-area ul li.selected .iconfont {
    display: block;
    width: 30px;
    height: 30px;
    float: left;
    margin-left: 10px;
}

.container .form .form-item .area-code .icon-error {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 24px;
    height: 24px;
    font-size: 24px;
    cursor: pointer;
}

.container .form .form-item .area-code .icon-error:hover {
    color: #fab0b6;
}

/* 选择国际区号 结束*/

.container .form .form-item .btn {
    height: 34px;
    font-size: 15px;
    background-color: #41ac52;
    color: #fff;
    width: 100%;
    font-weight: 400;
}

.container .form .form-item .btn:disabled {
    cursor: not-allowed;
    background: rgba(66,189,86,.5);
}

.container .form .form-item .tip {
    font-size: 13px;
    height: 22px;
    line-height: 22px;
}

.container .form .form-item .msg {
    font-size: 12px;
    vertical-align: middle;
}

.container .form .form-item.bottom {
    height: 33px;
    line-height: 33px;
    margin-bottom: 0;
    border-top: 1px solid #ddd;
}

.icon-weixin1x,
.icon-shejiaotubiao-42 {
    width: 22px;
    height: 22px;
    margin-left: 12px;
    cursor: pointer;
    vertical-align: middle;
}

.icon-weixin1x {
    color: #64c574;
}

.icon-shejiaotubiao-42 {
    color: #f27272;
}

/* 密码登录 */

/* 二维码登录 */

.container .qrcode-title {
    color: #333;
    font-weight: 600;
}

.container .qrcode .qrcode-img {
    height: 170px;
    width: 170px;
    margin: 0 auto;
    margin-top: 20px;
}

.container .qrcode .qrcode-img img {
    width: 100%;
    height: 100%;
}

.container .qrcode .txt {
    width: 143px;
    height: 19px;
    font-size: 13px;
    margin: 0 auto;
    margin-top: 10px;
    padding: 3px 20px;
    line-height: 19px;
    background: rgba(0,0,0,.08);
    color: #494949;
    border-radius: 12px;
}

.container .change {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.container .change .icon {
    height: 30px;
    width: 30px;
    display: block;
}

.container .change .icon.qrcode-1 {
    background: url("../img/qrcode-1.png") no-repeat left top/100% 100%;
}

.container .change .icon.qrcode-2 {
    background: url("../img/qrcode-2.png") no-repeat left top/100% 100%;
}

.container .pointer {
    display: none;
    position: absolute;
    top: 10px;
    right: 55px;
    width: 53px;
    height: 20px;
    background: #f5faf9;
    color: #666;
    font-size: 13px;
    line-height: 20px;
    text-align: center;
    padding: 3px 5px;
    border: 1px solid rgba(66,189,86,.3);
    border-radius: 3px;
}

.container .change:hover + .pointer {
    display: block;
}